channels:
  - conda-forge

dependencies:
  - adlfs
  - boto3
  - bottleneck
  - bdw-gc
  - cartopy
  - cfgrib
  - colorama
  - dask
  - dask-ml
  - dask-labextension
  - datashader
  - descartes
  - earthaccess
  - eofs
  - erddapy
  - esmpy
  - flox
  - fsspec
  - gcm_filters
  - gcsfs
  - gh
  - geocube
  - geopandas
  - geopy
  - geoviews-core
  - gfortran
  - git-lfs
  - gmt
  - dcw-gmt
  - gshhg-gmt
  - hdf5
  - h5netcdf
  - h5py
  - holoviews
  - hvplot
  - intake
  - intake-esm
  - intake-geopandas
  - intake-stac
  - intake-xarray
  - ipyleaflet
  - ipython
  - ipympl
  - ipytree
  - ipywidgets
  - jupyterhub-singleuser
  - jupyter-panel-proxy
  - jupyter-resource-usage
  - kerchunk
  - libnetcdf
  - libgfortran-ng
  - libxcb
  - lxml
  - matplotlib-base
  - metpy
  - moviepy
  - nb_conda_kernels
  - nbstripout
  - nc-time-axis
  - netcdf4
  - numcodecs
  - nodejs
  - numpy
  - opencv
  - pandas
  - panel
  - parcels
  - param!=1.11.0
  - pillow
  - pip
  - pip:
    - cdsapi
    - utm
    - jupyterlab-s3-browser
    - git+https://github.com/jupyterhub/jupyter-remote-desktop-proxy.git@main
    - geojsoncontour
    - ngsolve
    - webgui_jupyter_widgets
  - prefect
  - pyarrow
  - pydap
  - pygeos
  - pyproj
  - pystac
  - pystac-client
  - python-blosc
  - python-gist
  - python-graphviz
  - rasterio
  - rio-cogeo
  - rioxarray
  - s3fs>0.5
  - satpy
  - scikit-image
  - scikit-learn
  - scipy
  - seaborn
  - sparse
  - stackstac
  - tiledb-py
  - timezonefinder
  - xarray
  - xarrayutils
  - xarray_leaflet
  - xarray-spatial
  - xesmf
  - xgcm
  - xhistogram
  - xmip
  - xpublish
  - xskillscore
  - zarr
  - gh-scoped-creds
  - jupyterlab-git
  - websockify
  - qgis
  - bokeh
  - vtk
  - imageio
  - lmfit
  - jupyterlab-lsp
  - python-lsp-server
  - shapely
  - numexpr
  - openpiv
  - trimesh
  - simplekml
  - scikit-fmm
  - alphashape
  - tk
  - octave